:root {
}

.panel {
    background-color: rgba(7, 168, 145, 0.57);
}

.hide {
    display: none;
}

.menu {
    max-height: 553px;
    background-color: rgba(0, 0, 0, 0.57);
    min-width: 437px;
    align-self: center;
    min-height: auto;
}

.unity-button {
    flex-grow: 1;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    margin-top: 13px;
    margin-right: 13px;
    margin-bottom: 13px;
    margin-left: 13px;
}

.unity-button:hover {
    background-color: rgb(171, 168, 0);
    scale: 1.1 1.1 1.1;
    transition-property: scale;
    transition-duration: 0.25s;
}

.unity-text-element {
    -unity-font-definition: resource("Righteous-Regular");
    font-size: 36px;
}
