.panel {
    background-color: rgba(0, 235, 255, 0.176);
    align-items: auto;
    align-content: auto;
    align-self: auto;
    justify-content: center;
}

.menu {
    background-color: rgb(120, 21, 21);
    align-items: auto;
    width: auto;
    min-width: 500px;
    max-height: 500px;
    align-self: center;
    justify-content: flex-start;
    align-content: center;
    height: auto;
    min-height: auto;
}

.unity-button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 39px;
}
